{% extends "core/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
{% endblock %}



{% block content %}
  <section id="game-ss-section">
        <h2> Game Pics</h2>
        <div id="game-sshots-div">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/PEAK_cover_image_bxzfmn.webp" alt="gallery-image-1">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/peak_olt3jl.webp" alt="gallery-image-2">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/AA1J12om_fskh4t.webp" alt="gallery-image-3">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/peak-went-from-a-canceled-game-that-couldnt-get-funding-to-v0-9QxZz5VW2o8yUKvrksw3wgcJDLwG9rKxd5a-mxZyMcg_e72qka.webp" alt="gallery-image-4">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/alpine_nzvdqd.webp" alt="gallery-image-5">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/peak-screenshot-file-0c88e90b.jpg_c7c8lp.webp" alt="gallery-image-6">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357730/ss_5481a463ddc19a8def7eb64660caf6da12d9f22c.1920x1080_td0wzh.webp" alt="gallery-image-7">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/Peak-steam-header_c57lxh.webp" alt="gallery-image-8">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753357729/ss_471f445657aaf8b8c1d039389e5dcc6a8bcc32c5_f8afk7.webp" alt="gallery-image-9">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358147/apps.64667.14120603671422983.276bdb7c-80c3-44c3-a0a2-c6f4510ef9af_1_ejicai.webp" alt="gallery-image-10">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358147/download_ivfsam.webp" alt="gallery-image-11">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358148/3797878-little-nightmares-ii_kbmuvu.webp" alt="gallery-image-12">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358148/Little_Nightmares_II_Screenshot04_i1hmfy.webp" alt="gallery-image-13">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358148/hq720_mbit2c.webp" alt="gallery-image-14">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358148/LittleNightmares2-1-min_ippllr.webp" alt="gallery-image-15">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358150/little-nightmares-2-xbox-series-s-review-boss_ndj8gs.webp" alt="gallery-image-16">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358150/lnii_launchtrailer_u8c9ri.webp" alt="gallery-image-17">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358150/ln2_10_lwrnis.webp" alt="gallery-image-18">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358430/d708a7b4b7a9-fragpunk-sniper_dyxyxh.webp" alt="gallery-image-19">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358431/fragpunk-pc-game-steam-cover_ydd6gq.webp" alt="gallery-image-20">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358430/fragpunk-game-1920x1080-1_midhhh.webp" alt="gallery-image-21">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358431/image_17_typifs.webp" alt="gallery-image-22">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358432/image_18_xb6rxe.webp" alt="gallery-image-23">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358433/screenshot-2025-03-11-081848_wemrhf.webp" alt="gallery-image-24">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358432/gameplay-fragpunk-hero-shooter-f2p-fps-pvp-5v5-gameplay-relase-date_v0oxhm.webp" alt="gallery-image-25">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358885/images_erexet.webp" alt="gallery-image-26">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358885/a-character-from-nightingale-with-a-structure_u8vzp9.webp" alt="gallery-image-27">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358885/nightingale-early-game-armor-header-image_mfcnlb.webp" alt="gallery-image-28">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358886/nightingale-release-date_ygyoib.webp" alt="gallery-image-29">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358886/1655931554925_hidxeg.webp" alt="gallery-image-30">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358886/nightingale-xbox-release-696x442_whgbpg.webp" alt="gallery-image-31">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358888/nightingale-stands-out-from-the-co-op-survival-game-crowd-v0-gMtyD-Al_91KSjeO9g8JUgmVjkj30rWgQnOfIGlQW2s_pawegz.webp" alt="gallery-image-32">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358888/this-game-is-beautiful-also-my-first-base-v0-ly3m2ey2bujc1_mys6kb.webp" alt="gallery-image-33">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753358889/this-game-is-beautiful-also-my-first-base-v0-yfmzui23bujc1_vhkk3l.webp" alt="gallery-image-34">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753360738/8a7960a12d84ec07f991fca8e5dfda04_mwwidv.webp" alt="gallery-image-35">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753360738/wp7775386_fuffl9.webp" alt="gallery-image-36">
     <img class="game-ss" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753360738/4391927-phasmophobia_pointhope_screenshot5_mmhmfq.webp" alt="gallery-image-37">
        </div>
    </section>

        <section id="game-clips-section">
        <h2> Game Clips</h2>
        <div id="game-clips-div">
     <!-- add video tag with a higlight clip here-->
        </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    {% endblock %}

    