{% extends "core/base.html" %}
{% load static %}

{% block title %}Merchandise{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'merchandise/css/merchandise.css' %}">
{% endblock %}

{% block content %}
<!-- Your merchandise content here -->
<h1 id="merch-page-title">Moogles Goodies</h1>

<section class="merch-container">
  <section class="merch-gallery">
    <div class="merch-grid">

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364898/emote-4_s5l4ze.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364898/emote-1_hrzpaa.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364899/emote-5_rrwqyo.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364899/emote-2_akv2rq.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364900/emote-3_dztsjv.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364901/emote-6_zjpjgq.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753366952/file-Lm2clKI8es04J9tfyr8NEzYb_ukuvwg.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Hallows poster</h3>
          <p class="merch-desc">A high-quality poster ready download...</p>
          <p class="merch-price">£3.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753371145/Moogleme1_ej13br.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>



    </div>
  </section>
</section>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}