{% extends "core/base.html" %}
{% load static %}

{% block title %}Merchandise{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'merchandise/css/merchandise.css' %}">
{% endblock %}

{% block content %}
<!-- Your merchandise content here -->
<h1 id="merch-page-title">Moogles Goodies</h1>

<section class="merch-container">
  <section class="merch-gallery">
    <div class="merch-grid">

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753372549/LOL_Sphynx_puagem.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753372549/pAInter_YIPEEE_YAHOO_ivhddh.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Poster</h3>
          <p class="merch-desc">A high-quality poster ready for download...</p>
          <p class="merch-price">£3.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>   
      </div>
    

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753372548/Lets_Get_Shwiffty_jesswz.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753372551/SPOILER_Waowzers_this_took_me_forever_im_so_proud_of_this_ddp3xy.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Poster</h3>
          <p class="merch-desc">A high-quality poster ready for Download...</p>
          <p class="merch-price">£3.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364900/emote-3_dztsjv.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753364901/emote-6_zjpjgq.png" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753366952/file-Lm2clKI8es04J9tfyr8NEzYb_ukuvwg.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Hallows poster</h3>
          <p class="merch-desc">A high-quality poster ready to download...</p>
          <p class="merch-price">£3.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>

      <div class="merch-item">
        <img class="merch-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753371145/Moogleme1_ej13br.webp" alt="Cool Merch Item">
        <div class="merch-details">
          <h3 class="merch-title">Epic Emote</h3>
          <p class="merch-desc">A high-quality custome emote ready for profile pics and more...</p>
          <p class="merch-price">£2.99</p>
          <button class="purchase-btn">Purchase</button>
        </div>
      </div>



    </div>
  </section>
</section>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}