{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta author="jodesius">

  <!-- style sheet link -->
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">

  {% block head %}{% endblock %}

  <!-- fav icons -->
  <link rel="icon" sizes="180x180" href="{% static 'core/favicons/favicon-dj-180x180.webp' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/favicons/favicon-dj-16x16.webp' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/favicons/favicon-dj-32x32.webp' %}">

  <title>{% block title %}Moogle-rockstar{% endblock %}</title>
</head>

<body>

  <h1 class="tittle">Moog13rockstar</h1>

  <a id="logo" href="{% url 'home' %}">
    <img src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753097493/moog-logo_tt1iyj.webp" alt="moogles logo" rel="noopener">
  </a>

  {% if user.is_authenticated %}
    <button id="nav-btn">XX</button>
    <ul id="nav-list">
      <li><a href="{% url 'home' %}"><strong>Home</strong></a></li>
      <li><a href="{% url 'gallery' %}"><strong>Gallery</strong></a></li>
      <li><a href="{% url 'merchandise' %}"><strong>Merchandise</strong></a></li>
      <li><a href="{% url 'lets_play' %}"><strong>Let's Play</strong></a></li>
      <li><a href="{% url 'logout' %}"><strong>Logout</strong></a></li>
    </ul>
  {% else %}
    <ul id="nav-list">
      <li><a href="{% url 'login' %}"><strong>Login</strong></a></li>
      <li><a href="{% url 'register' %}"><strong>Register</strong></a></li>
    </ul>
  {% endif %}

  {% block content %}{% endblock %}

  <!-- footer -->
  <div id="footer">
    <footer>
      <ul id="footer-list">
        <li class="footer-icons"><a href="https://discord.gg/GuKNawu4Xc" rel="noopener" target="_blank">
          <img class="footer-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753275216/discord-icon-black--cutout_sw2urq.webp"></a></li>
        <li class="footer-icons"><a href="https://www.tiktok.com/@moog13rockstar" rel="noopener" target="_blank">
          <img class="footer-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753275216/tik-tok-logo-cutout_yf1cic.webp"></a></li>
        <li class="footer-icons"><a href="https://www.instagram.com/moog13rockstar" rel="noopener" target="_blank">
          <img class="footer-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753275216/insta-logo-cutout_abd6yr.webp"></a></li>
        <li class="footer-icons"><a href="https://www.youtube.com/@Moog13rockstar" rel="noopener" target="_blank">
          <img class="footer-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753275216/Youtube-Icon-cutout_mgljr4.webp"></a></li>
        <li class="footer-icons"><a href="https://www.twitch.tv/moog13rockstar" rel="noopener" target="_blank">
          <img class="footer-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1752275880/gallery/pzmngvwzwzyhzkznycse.webp"></a></li>
      </ul>
    </footer>
  </div>


    {% block extra_scripts %}
    <script src="{% static 'core/js/navigation.js' %}"></script>
    {% endblock %}

</body>
</html>