{% extends "core/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}



{% block content %}
<!-- this where we out the page content-->
 <div id="hero">
    <img src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753097505/moog-hero-image_skqe57.webp" alt="hero image of moogle avatar">
  </div>
  <br>

  <div id="about">
    <h2 id="about-btn">About Me!</h2>
    <p id="about-para">Hey! I’m Moog13 Rockstar — a content creator, UK Twitch streamer, and your guide through the
      eerie and unknown.
      I specialize in adventure and horror streams, where jump scares, creepy vibes, and mysterious twists are all
      part of the fun. When I’m not exploring haunted worlds on Twitch, I’m conjuring up killer GFX, designing
      darkly inspired merch, and crafting content with a creative edge. If you love thrills, chills, and a touch
      of the macabre, you’re in the right place. Welcome to the Rockstar realm — enter if you dare. </p>
  </div>


  <div id="Schedule">
    <h2> Schedules</h2>
    <div class="schedule-wrapper">
      <div class="schedule-week">
        <h3> Week 1</h3>

        <table>
          <tr>
            <th class="Schedule">Days of week</th>
            <th class="Schedule">10am -2pm</th>
            <th class="Schedule">3pm-7pm</th>
            <th class="Schedule">9pm-00am</th>
          </tr>

          <tr>
            <th class="Schedule">Monday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Tuesday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Wednesday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Thursday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Friday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Saturday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Sunday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>
        </table>
      </div>
      <div class="schedule-week" id="shedule-week-2">
        <h3> Week 2</h3>

        <table>
          <tr>
            <th class="Schedule">Days of week</th>
            <th class="Schedule">10am -2pm</th>
            <th class="Schedule">3pm-7pm</th>
            <th class="Schedule">9pm-00am</th>
          </tr>

          <tr>
            <th class="Schedule">Monday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Tuesday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Wednesday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Thursday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Friday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Saturday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>

          <tr>
            <th class="Schedule">Sunday</th>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">No</td>
            <td class="schedule-cells">yes</td>
          </tr>
        </table>
      </div>
    </div>
    <p><strong>ALL times shown above are correlated to UK time zone (GMT+00)</strong></p>
  </div>

  <h2>Highlights</h2>

  <br>
  <br>
  <br>
  <br>
  <br>
  <script src="{% static 'core/js/aboutme.js' %}"></script>

{% endblock %}