{% extends 'core/base.html' %}
{% load static %}

{% block title %}lets_play{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'lets_play/css/lets_play.css' %}">
{% endblock %}

{% block content %}

    <div id="hero-letsplay">
        <img id="lets-play-hero-img" src="https://res.cloudinary.com/ddmslr9na/image/upload/v1753097505/moog-hero-image_skqe57.webp" alt="hero image of moogle avatar">
    </div>
<!-- memory game -->
    <div id="game1">
        <h2> Memory Game</h2>
        <button id="memory-btn">Play</button>

</div>  
        <br>
        <div id="memory-grid">
            <table id="memory-game">
                <tr>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>

                </tr>

                <tr>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>

                </tr>

                <tr>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>

                </tr>

                <tr>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>

                </tr>

                <tr>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>

                </tr>

                <tr>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                    <td class="mem-square"></td>
                </tr>
            </table>
        </div>
    </div>
    <p id="round-display">Round: 0</p>
    <hr>


    <!-- memory match game -->
     <h2>Memory match</h2>
      <div id="memory-match-container">
    <button id="memory-match-start-btn">Play</button>
    <div id="memory-match-timer">Time: 60s</div>

    <table id="memory-match-board">
      <tbody>
        
        <tr>
          <td class="memory-tile" data-index="0"></td>
          <td class="memory-tile" data-index="1"></td>
          <td class="memory-tile" data-index="2"></td>
          <td class="memory-tile" data-index="3"></td>
          <td class="memory-tile" data-index="4"></td>
        </tr>
        <tr>
          <td class="memory-tile" data-index="5"></td>
          <td class="memory-tile" data-index="6"></td>
          <td class="memory-tile" data-index="7"></td>
          <td class="memory-tile" data-index="8"></td>
          <td class="memory-tile" data-index="9"></td>
        </tr>
        <tr>
          <td class="memory-tile" data-index="10"></td>
          <td class="memory-tile" data-index="11"></td>
          <td class="memory-tile" data-index="12"></td>
          <td class="memory-tile" data-index="13"></td>
          <td class="memory-tile" data-index="14"></td>
        </tr>
        <tr>
          <td class="memory-tile" data-index="15"></td>
          <td class="memory-tile" data-index="16"></td>
          <td class="memory-tile" data-index="17"></td>
          <td class="memory-tile" data-index="18"></td>
          <td class="memory-tile" data-index="19"></td>
        </tr>
        <tr>
          <td class="memory-tile" data-index="20"></td>
          <td class="memory-tile" data-index="21"></td>
          <td class="memory-tile" data-index="22"></td>
          <td class="memory-tile" data-index="23"></td>
          <td class="memory-tile" data-index="24"></td>
        </tr>
        <tr>
          <td class="memory-tile" data-index="25"></td>
          <td class="memory-tile" data-index="26"></td>
          <td class="memory-tile" data-index="27"></td>
          <td class="memory-tile" data-index="28"></td>
          <td class="memory-tile" data-index="29"></td>
        </tr>
      </tbody>
    </table>

    <p id="memory-match-score">Score: 0</p>
  </div>
  <hr>

     <!-- words match game -->
 <div class="typing-game-container">
  <button id="typingGame_startBtn">Play Typing Speed Game</button>

  <div class="typing-box">
    <div id="typingGame_wordDisplay" class="fade-word">Press Play to Start</div>
    <input type="text" id="typingGame_input" placeholder="Write what you see..." disabled />
  </div>

  <div class="typing-score-panel">
    <div id="typingGame_score">Score: 0</div>
    <div id="typingGame_timer">Time: 60s</div>
  </div>

  <div class="word-log">
    <h4>Words you typed:</h4>
    <ul id="typingGame_wordList"></ul>
  </div>
</div>
  


    <br>
    <br>
    <br>
    <br>
    <br>



     <script src="{% static 'lets_play/js/memory-game.js' %}"></script>
     <script src="{% static 'lets_play/js/memory-match.js' %}"></script>
     <script src="{% static 'lets_play/js/words-match.js' %}"></script>
   

{% endblock %}