/*css colors*/
/*pink #db1f8a*/
/*black #000000*/
/*white #ffffff*/

/*wildcard selectors*/

* h1,
h2,
h3,
p {
  color: black;
  margin-left: 5px;
}

body {
  background-color: #db1f8a;
  margin-left: 3px;
}

/*header*/

#logo img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 35%;
  top: 35px;
}

h1 {
  text-align: center;
  font-size: 180%;
}

#nav-btn {
  height: 30px;
  width: 35px;
  font-size: 100%;
  position: absolute;
  top: 20px;
  border: solid 2px black;
  border-radius: 5px;
}

#nav-list {
  list-style-type: none;
  position: absolute;
  left: -200px;
  top: 50px;
  background-color: white;
  border: solid 2px black;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

#nav-list.show {
  left: 10px; /* slide into view */
}

#nav-list li {
  text-align: left;
  padding: 5px 0;
}

#nav-list a {
  text-decoration: none;
  color: black;
}

/* footer*/

#footer {
  position: fixed;
  bottom: 0px;
  width: 97%;
  height: 100px;
  background-color: aliceblue;
  border: solid 2px black;
  border-radius: 8px;
}

#footer-list {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
  padding-top: 15px;
}

#footer-list a {
  font-size: 190%;
  display: inline-block;
  color: black;
}

.footer-icons {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-img {
  height: 50px;
  width: 50px;
  justify-content: space-between;
}